@import 'tailwindcss';
@import '@fontsource/fira-mono';
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "flowbite/plugin";

@custom-variant dark (&:where(.dark, .dark *));
@source "../../node_modules/flowbite-svelte/dist";
@source "../../node_modules/flowbite-svelte-icons/dist";

@layer base {
    /* disable chrome cancel button */
    input[type='search']::-webkit-search-cancel-button {
        display: none;
    }
}

:root {
    --font-body:
        Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-mono: 'Fira Mono', monospace;
    font-family: var(--font-body);
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: black;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
