@import 'tailwindcss';

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "flowbite/plugin";

@custom-variant dark (&:where(.dark, .dark *));
@source "../../node_modules/flowbite-svelte/dist";
@source "../../node_modules/flowbite-svelte-icons/dist";
@source "../../node_modules/simple-datatables/dist";
@source "../../node_modules/@flowbite-svelte-plugins/datatable/dist";
@source "../../node_modules/@flowbite-svelte-plugins/chart/dist";
@source "../../node_modules/@flowbite-svelte-pluagins/texteditor/dist";
@source "../../node_modules/flowbite-svelte-icons/dist";
@source "../../node_modules/flowbite-svelte-blocks/dist";

@custom-variant dark (&:where(.dark, .dark *));
